# Streamlit y UI
streamlit==1.47.0

# Manipulación de datos
pandas==2.3.1

# Cifrado para Fernet (lectura de CSV cifrado)
cryptography==45.0.5

# Firestore
google-cloud-firestore>=2.25.1

# Google Generative AI (Gemini)
google-ai-generativelanguage==0.6.18
langchain-google-genai==2.1.8

# LangChain retriever RAG (sin ChromaDB)
langchain-community==0.3.27

# FAISS para vector store
faiss-cpu

# Google API extras (autenticación y cliente)
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

